
#header {
    display: none !important;
}

#page {
    height: 100vh;
    position: relative;
    background-color: rgb(99, 169, 216);
}

#c3767 .container {
    width: min(80%, 450px);
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
}

.ce-header.h2-mb.ce-header-left .ce-headline{
    width: 100%;
    text-align: center;
}

.form-group {
    flex-direction: column;
    flex-wrap: wrap;
}

.form-group label, 
.form-group div {
    max-width: 100%;
    width: 100%;
    flex: 1;
    text-align: center;
}